<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" [opened]="false">
    <mat-nav-list (click)="drawer.close()">
      <a mat-list-item [routerLink]="'/userDevices'">
        <fa-icon class="sb-icon fa-lg" [icon]="faDevices" [fixedWidth]="true"></fa-icon>
        <span>Devices</span>
      </a>
      <a mat-list-item [routerLink]="'/map'">
        <fa-icon class="sb-icon fa-lg" [icon]="faMap" [fixedWidth]="true"></fa-icon>
        <span>Map</span>
      </a>
      <a mat-list-item [routerLink]="'/graph'">
        <fa-icon class="sb-icon fa-lg" [icon]="faChartBar" [fixedWidth]="true"></fa-icon>
        <span>Graph</span>
      </a>
      <a mat-list-item [routerLink]="'/rawData'">
        <fa-icon class="sb-icon fa-lg" [icon]="faRawData" [fixedWidth]="true"></fa-icon>
        <span>Raw data</span>
      </a>
      <a mat-list-item [routerLink]="'/user'">
        <fa-icon class="sb-icon fa-lg" [icon]="faUser" [fixedWidth]="true"></fa-icon>
        <span>User</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar>
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" style="height: auto !important; border-radius: inherit;">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <app-preset-filter></app-preset-filter>
        <app-login></app-login>
      </mat-toolbar-row>
      <mat-toolbar-row class="toolbar-filters">
        <span class="spacer"></span>
        <app-time></app-time>
        <app-sensor></app-sensor>
        <app-location></app-location>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
