<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'" [opened]="false">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/userDevices'">Devices</a>
      <a mat-list-item [routerLink]="'/map'">Map</a>
      <a mat-list-item >Graph</a>
      <a mat-list-item >Raw data</a>
      <a mat-list-item >User</a>
      <a mat-list-item (click)="authenticationOnCick()">{{isAuthenticated ? 'Logout' : 'Login'}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <app-preset-filter></app-preset-filter>
      <app-time></app-time>
      <app-sensor></app-sensor>
      <app-location></app-location>
      <div style="font-size: initial; font-weight: lighter; margin-left: 10px;" *ngIf="isAuthenticated">{{welcomeLabel}}</div>
    </mat-toolbar>

    <mat-divider></mat-divider>
    
    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
