<div appDropdown class="dropdown pull-right">
    <a class="dropdown-toogle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        sensors<span class="caret"></span>
      </a> 
    <div class="dropdown-menu" style="padding: 5px;" id="collapseExample">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">CO2</mat-radio-button><br>
            <mat-radio-button value="2">NO</mat-radio-button>
        </mat-radio-group>
    </div>
</div>