<form [formGroup]="form">
  <h1 mat-dialog-title>{{data.name}}</h1>
  <div style="display: flex;justify-content: flex-end;margin-bottom: 7px;">
    <button (click)="addNewSensor()">Add</button>
    <button (click)="deleteSensor()">Delete</button>
  </div>
  <div style="height:200px;overflow:auto;">
    <table id="sensors" #tblsensors onblur="setSelectedRow(null)">
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td>
            <table class="radio-group">
              <tr>
                <td>
                  <label>Min</label>
                </td>
                <td></td>
                <td>
                  <label>Max</label>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </thead>
      <tbody formArrayName="sensors">
        <ng-container *ngFor="let s of sensorArray.controls;let i = index">
          <tr [formGroupName]="i" class="flex-container" (click)="setSelectedRow(s)">
            <td style="padding-bottom: 5px; vertical-align: bottom;">
              <mat-label style="margin-right:30px" *ngIf="!isSelectedRow(s)">{{s.value.sensor}}</mat-label>
              <mat-select matNativeControl formControlName="sensor" *ngIf="isSelectedRow(s)" style="min-width: 100px;">
                <ng-container *ngFor="let sl of sensorList">
                  <mat-option [value]="sl.sensor">
                    {{sl.sensor}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </td>
            <td style="padding-bottom: 5px; vertical-align: bottom;">
              <input formControlName="value" matInput style="text-align: center;" type="text" placeholder="Treshold">

            </td>
            <td>
              <mat-radio-group aria-label="Select an option" class="radio-label-above" formControlName="minMax">
                <table class="radio-group">
                  <tr>
                    <td>
                      <mat-radio-button value="min"></mat-radio-button>
                    </td>
                    <td></td>
                    <td>
                      <mat-radio-button class="radio-max" value="max"></mat-radio-button>
                    </td>
                  </tr>
                </table>
              </mat-radio-group>
              <!-- <input class="mat-radio-button" type="radio" id="male" name="gender" value="male"> -->
              <!-- <input class="mat-radio-button" type="radio" id="female" name="gender" value="female"> -->
          </tr>
        </ng-container>
        <!--       <tr>
        <td colspan="3">
          <button type="button" mat-stroked-button class="pull-right" style="margin-top: 5px;">
            New
          </button>
        </td>
      </tr>
 -->
      </tbody>
    </table>
  </div>
  <div formGroupName="meta">
    <div style="display: flex; align-items: center; margin-top: 25px; margin-bottom: 25px">
      <mat-slide-toggle formControlName="enabled" labelPosition='before'>
        Enabled
      </mat-slide-toggle>
      <span class="spacer"></span>
      <label class="example-label" for="action" style="margin-right: 10px;margin-bottom: 0px;">Action</label>
      <mat-select formControlName="action" id="action" style="width: 70px;border-bottom: 1px solid;">
        <mat-option *ngFor="let act of actions" [value]="act.value">
          {{act.desc}}
        </mat-option>
      </mat-select>
    </div>
    <div style="display: flex; align-items: center; margin-top: 25px; margin-bottom: 25px">
      <label class="example-label" for="visible" style="margin-right: 10px;margin-bottom: 0px;">Visibility</label>
      <mat-select formControlName="visibility" style="width: 70px;border-bottom: 1px solid;">
        <mat-option value="private">private</mat-option>
        <mat-option value="public">public</mat-option>
      </mat-select>
    </div>
  </div>
</form>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close style="margin-right: 5px;">Cancel</button>
  <button mat-stroked-button (click)="saveFilter($event)" [disabled]="form.invalid || isIntact">Save</button>
</div>