<mat-label>{{title}}</mat-label>
<table>
  <tr *ngFor="let s of sensors;let i = index" class="flex-container">
    <td style="padding-bottom: 5px; vertical-align: bottom;">
      <mat-label style="margin-right:30px">{{sensors[i].desc}}</mat-label>
    </td>
    <td style="padding-bottom: 5px; vertical-align: bottom;">
      <input matInput type="text" placeholder="Treshold">
    </td>
    <td>
      <mat-radio-group aria-label="Select an option" class="radio-label-above">
        <mat-radio-button value="1">{{i === 0 ? 'Min' : ''}}</mat-radio-button>
        <!-- <input class="mat-radio-button" type="radio" id="male" name="gender" value="male"> -->
        <!-- <input class="mat-radio-button" type="radio" id="female" name="gender" value="female"> -->
        <mat-radio-button value="2">{{i === 0 ? 'Max' : ''}}</mat-radio-button>
      </mat-radio-group>
    </td>
  </tr>
</table>
<div style="display: flex; align-items: center; margin-top: 25px; margin-bottom: 25px">
  <mat-slide-toggle labelPosition='before'>
    Enabled
  </mat-slide-toggle>
  <span class="spacer"></span>
  <label class="example-label" for="action" style="margin-right: 10px;margin-bottom: 0px;">Action</label>
  <mat-select id="action" style="width: 70px;border-bottom: 1px solid;">
    <mat-option *ngFor="let act of actions" [value]="act.value">
      {{act.desc}}
    </mat-option>
  </mat-select>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close style="margin-right: 5px;">Cancel</button>
  <button mat-stroked-button mat-dialog-close>Confirm</button>
</div>