<block-ui>
  <div #graphComponent style="position:absolute;overflow-y: scroll;width: 100%;height:100%;">
    <form [formGroup]="compForm">
      <mat-form-field style="padding-left: 30px;">
        <mat-select matNativeControl formControlName="showChartSelect" >
          <ng-container *ngFor="let s of activeSensors">
            <mat-option [value]="getSensorDetails(s).sensor">
              {{getSensorDetails(s).desc}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </form>
      <ng-container *ngFor="let d of getSensorList(); let i = index">
      <apx-chart *ngIf="renderChart(d.sensor)"
        [tooltip]="getChartConfig(d.sensor)?.tooltip" 
        [series]="getChartConfig(d.sensor)?.series"
        [chart]="getChartConfig(d.sensor)?.chart"
        [xaxis]="getChartConfig(d.sensor)?.xaxis"
        [dataLabels]="getChartConfig(d.sensor)?.dataLabels"
        [grid]="getChartConfig(d.sensor)?.grid"
        [stroke]="getChartConfig(d.sensor)?.stroke"
        
      ></apx-chart>
    </ng-container>
  </div>
</block-ui>