<block-ui>
  <div #graphComponent [style.height]="fullHeight" style="overflow: scroll;width: 100%;">
      <form [formGroup]="compForm" style="margin-bottom:10PX;background-color: lightgray;">
        <ng-container formArrayName="sensors" *ngFor="let s of getSensorList();let i = index">
          <mat-checkbox formControlName="{{i}}" style="margin: 0px 10px 0px 10px;">{{getSensorDetails(s.value).desc}}</mat-checkbox>
        </ng-container>
      </form>
    <ng-container *ngFor="let d of chartConfig; let i = index">
      <apx-chart
        [tooltip]="d?.tooltip" 
        [series]="d?.series"
        [chart]="d?.chart"
        [xaxis]="d?.xaxis"
        [dataLabels]="d?.dataLabels"
        [grid]="d?.grid"
        [stroke]="d?.stroke"
        [title]="d?.title"
      ></apx-chart>
    </ng-container>
  </div>
</block-ui>