:host {
  overflow: auto;
}

.table-container {
  width: 100%;
}

mat-row,
mat-header-row,
mat-footer-row {
  min-height: 24px;
}

.mat-cell {
  font-size: 1rem;
}

.mat-row {
  border: 1px solid transparent;
}

.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  border: 1px solid #17920e;
}

.loading-shade {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
