:host {
  overflow: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading-shade {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 0 1rem;
  align-items: center;
  margin-bottom: 5px;
}

.label-search {
  white-space: pre;
  padding-right: 1rem;
  margin: 0;
  font-weight: normal;
}

.input-search {
  width: 15rem;
  border: 1px solid #d2d1d1ba;
  padding: 0;
  margin-right: 0.5rem;
}

.loading {
  display: flex;
  align-items: center;
}

.loadingText {
  padding: 0 1rem;
}
::ng-deep [role=gridcell] {
   line-height: inherit !important;
}
::ng-deep [role=columnheader] {
  height: 60%;
}
::ng-deep [ref=headerRoot] {
  height: 29px !important;
  min-height: 29px !important;
}
