<div class="table-container">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <ng-container>
        <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
      </ng-container>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let element1; columns: displayedColumns;" ></mat-row>
  </mat-table>
</div>