div {
  background-color: inherit;
}
a {
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}
.spacer {
  flex: 1 1 auto;
}
table tr td {
  padding-bottom: 2px;
  height: 30px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  margin-left: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-left: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.markAppliedFilter {
  color: red;
}
button {
  min-width: 10px;
}
.filterNameInput {
  border: 0px;
}
