<form [formGroup]="timeForm">
  <div appDropdown id="timeMenu" [ngClass]="shouldStayOpen() && !setCloseMenuClass ? stayOpened :''" class="dropdown pull-right filter noselect">
    <fa-icon class="filter-icon" [icon]="faHistory"></fa-icon>
    <a class="dropdown-toogle" data-toggle="collapse" href="#timeCoponentDropdown" role="button" aria-expanded="false"
       aria-controls="timeCoponentDropdown"  (click)="closeMenuClass(false);false;">
      <span [innerHTML]="label"></span><span class="caret"></span>
    </a>
    <div [ngClass]="setCloseMenuClass ? 'closeMenu' : ''" class="dropdown-menu filter-menu-expanded" style="padding: 15px;" id="timeCoponentDropdown">
      <mat-form-field>
        <mat-label>Sliding range</mat-label>
        <mat-select #predefinedSelect matNativeControl formControlName="slidingRange" (openedChange)="hourRangeOnOpen($event)" 
        (selectionChange)="setSlidingRange($event)">
          <ng-container *ngFor="let s of hoursTime">
            <mat-option [value]="s.value" (click)="closeMenuClass(true);">
              {{s.desc}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <div style="text-align: left;">
        <label style="margin-right: 5px;" >Last</label>
        <input formControlName="customRange" placeholder="Custom" size="5" style="border: 0px;background: transparent;text-align: center;" #customTime
               (keyup)="setCustomRange(customTime.value, timeUnit.value)">
        <select formControlName="customRangeUnits" style="margin-left: 5px;" #timeUnit (change)="setCustomRange(customTime.value, timeUnit.value)">
          <option *ngFor="let tu of customTimeUnits" value="{{tu.value}}">{{tu.desc}}</option>
        </select>
      </div>
    <hr>
        <mat-form-field>
        <input #pickerInput formControlName="fixedRange" matInput placeholder="fixed date range"
               (change)="setFixedRange($event);"
               (dateInput)="setFixedRange($event);closeMenuClass(true);"
               [satDatepicker]="picker"
               [value]="date">
        </mat-form-field>
        <sat-datepicker #picker [rangeMode]="true" (opened)="setCalendarIsOpen(true)"
                        (closed)="setCalendarIsOpen(false)"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </div>
  </div>
</form>
