<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <ng-container *ngIf="column !== 'DeleteDevice'">
        <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
      </ng-container>
      <ng-container *ngIf="column === 'DeleteDevice'">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button type="button" (click)="deleteDeviceOnClick($event, element)">Delete</button>
          <button type="button" (click)="editDeviceOnClick($event, element)" class="button-spacing">Edit</button>
        </mat-cell>
      </ng-container>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" style="padding-left: 100px;">
        <app-device-sensor style="width:100%" *ngIf="shouldShowDetailRow(element)"
          [dataState]="getChildDataState(element)">
        </app-device-sensor>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;" (click)="expandRow(element)"></mat-row>
    <mat-row #ads *matRowDef="let element; columns: ['expandedDetail']"
      [@detailExpand]="shouldShowDetailRow(element) ? 'expanded' : 'collapsed'" class="expandable-row"></mat-row>
  </mat-table>
</div>
