<form [formGroup]="locationForm">
    <div appDropdown id="locationMenu" [ngClass]="shouldStayOpen() ? stayOpened :''" class="dropdown pull-right filter">
        <a class="dropdown-toogle" data-toggle="collapse" href="#locationComponentDropdown" (click)="setLocationSelected(-1);false"
            role="button" aria-expanded="false" aria-controls="locationComponentDropdown">
            <span [innerHTML]="makeLabel()"></span>
            <span class="caret"></span>
        </a>
        <div [ngClass]="locationSelected() ? 'closeMenu' : ''" class="dropdown-menu filter-menu-expanded" style="padding: 5px;" id="locationComponentDropdown">
            <mat-radio-group aria-label="Select an option" formControlName="selectedDevices"
                (change)="locationOnChange($event)">
                <div class="locationitem" *ngFor="let k of locationList; let i = index;">
                    <mat-radio-button value="{{k.value}}" (click)="setLocationSelected(i)">
                        <ng-container *ngIf="i !== locationList.length - 1">{{k.desc}}</ng-container>
                        <mat-select placeholder="Select a region" formControlName="selectedRegion" *ngIf="i === locationList.length - 1" (selectionChange)="selectedRegionChanged()"
                        (openedChange)="setRegionIsOpen($event)" >
                            <ng-container *ngFor="let r of regionList">
                                <mat-option value="{{r.id}}">{{r.name}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </div>
</form>