/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { width: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.filter-menu-expanded {
  background: white !important;
}
.mat-error {
  text-align: right;
}
.filter {
  border-left: 1px solid lightgrey;
  min-width: 100px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
.open {
  background: white!important;
}
.button-spacing {
  margin-left: 5px;
}
.disabled-link {
  pointer-events:none;
  cursor:default;
  color: rgba(0,0,0,.12);
}
.enabled-link {
  pointer-events:auto;
  cursor:pointer;
}
