:host {
    overflow: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .toolbar {
    display: flex;
    justify-content: baseline;
    padding: 0 0.5rem 0 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2;
  }
  button {
    margin-left: 3px;
    margin-right: 3px;
  }
  .flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    /* justify-content: space-between; */
    
    padding: 0;
    margin: 2;
    list-style: none;
  }
  .flex-item {
    border-right: 1px solid grey;
    padding: 0 4 0 4;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 1em;
    flex-basis: auto;
    color: gray;
  }
  div div label {
    display: inline;
  }
  mat-checkbox label {
    margin-bottom: 0px;
  }
  div div span {
    margin-left: 3px;
  }

  .check-box-fix {
     margin-top: 5px; /* to contrast the bottom-marrgin of cbox inner class */
     margin-left: 3px;
     margin-right: 15px;
  } 
  .toolbarButtons {
    display: flex;
    margin-right: 15px;
  }
  .sensorLabel {
    color: gray;
  }
  ::ng-deep [role=gridcell] {
    line-height: inherit !important;
  }
  ::ng-deep [role=columnheader] {
    height: 60%;
  }
  ::ng-deep [ref=headerRoot] {
    height: 29px !important;
    min-height: 29px !important;
  }
